[Unit]
Description=DOCS Server (Docusaurus)
After=syslog.target network.target
StartLimitIntervalSec=3

[Service]
User=root
Type=simple
Restart=on-failure

Environment=NODE_PORT=4000
WorkingDirectory=/opt/daofinance/docs
ExecStart=pnpm run start

StandardOutput=append:/opt/daofinance/docs/logs/log
StandardError=append:/opt/daofinance/docs/logs/log

[Install]
WantedBy=multi-user.target
